<dom-module id="luism-login-styles"><template><style>
:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --luism-login; }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit; }

:host {
  display: block; }

body {
  margin: 0; }

#contenido {
  margin-top: 100px;
  width: 100%; }

.input_text {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box; }

.input_button {
  width: 100%;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer; }

.tbl_tabla {
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  align: center;
  padding: 20px;
  background: gray; }

</style></template></dom-module>